/* define keyframes for custom spin animation */
@keyframes customSpin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* custom animation */
.custom-spin-slow {
    animation: customSpin 10s linear infinite;
}

/* For Banner Section background image  */
.background-image {
    background-image: url('../assets/images/banner.png');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

/* Font family */

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Time picker indicator clock custom css  */

.custom-time-input-dark::-webkit-calendar-picker-indicator {
    background-color: #786ee9;
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
}

.custom-time-input-light::-webkit-calendar-picker-indicator {
    background-color: rgb(142, 182, 241);
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
}

.custom-time-input::-webkit-calendar-picker-indicator {
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
}

.custom-time-input-dark-tx::-webkit-datetime-edit {
    color: white;
    /* Set the text color */
}

div#radix-\:r3\: {
    width: 50vw;
}